html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.App {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    height: 100%;

    &-sidebar {
        width: 200px;
        background-color: #d7d7d7;
        padding: 10px 20px;
        box-sizing: border-box;

        ul {
            list-style: none;
            padding-left: 0;

            li {
                margin-bottom: 16px;
            }
        }
    }

    &-activeLink {
        color: black !important;
        cursor: default;
    }

    &-page {
        position: relative;
        flex: 1;
    }
}

a, a:visited {
    text-decoration: none;
    color: #1A74F5;
}

button {
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
    padding: 8px 12px;
    margin: 8px 8px 8px 0;
    cursor: pointer;
}

.fade-leave {
    opacity: 1;
    background-color: white;
}

.fade-leave-active {
    transition: opacity 0.3s linear;
    opacity: 0;
}

.fade-enter {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
}

.fade-enter-active {
    transition: opacity 0.3s linear;
    opacity: 1;
    transition-delay: 350ms;
}